@import '../themes/variable';

//css
// .header {
//     background-color: #e3f2fd !important;
    
// }
// .header_right {
//     justify-content: end !important;
//     align-items: center !important;
// }
// .search_header {
//     color: white;
//     border: none;
// }
.header_fixed {
    background-color:  white !important;
    color: black !important;
    a {
        color: #06BBCC !important;
    }
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}
