@import '../themes/variable';

//css
// .header {
//     background-color: #e3f2fd !important;
    
// }
// .header_right {
//     justify-content: end !important;
//     align-items: center !important;
// }
// .search_header {
//     color: white;
//     border: none;
// }
.header_fixed {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color:  white !important;
    color: black !important;
    a {
        color: #06BBCC !important;
    }
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    h2 {
        color: #06BBCC;
        font-weight: 700;
    }
    .header_right {
        padding-left: 350px;
        position: relative;
        .search_cart {
            position: absolute;
            right: 15%;
            .header_icon {

            }
        } ;
            .header_icon{
                position: absolute;
                right: 16%;
            }
       ul {
        position: absolute;
        font-weight: 500;
        right: 10px;
        li{
            .register{
                // position: absolute;
                // right: 40%;
                padding-top: 15px;
            }
        }
       }
    }
}
